.ExperienceBar {
	display: flex;
	align-items: center;
}

.ExperienceBar span {
	font-size: 1rem;
}

.ExperienceBar > div {
	flex: 1;
	height: 4px;
	border-radius: 4px;
	background-color: var(--gray-line);
	margin: 0 1.25rem;
	position: relative;
}

.ExperienceBar > div > div {
	height: 100%;
	border-radius: 4px;
	background-color: var(--green);
}

.ExperienceBar__totalXp {
	position: absolute;
	top: 12px;
	transform: translateX(-50%);
}